<div class="md:w-4/5 rounded border-b-0 border mx-auto relative p-4 text-center">
  <span class="font-semibold text-lg tracking-wide text-indigo-400">
    <% @breadcrumb_links.each_with_index do |link, index| %>
      <span>
        <%= link_to link[:text].truncate(17), link[:path] %>
        <%= (index != (@breadcrumb_links.count - 1)) ? " › " : '' %>
      </span>
    <% end %>
  </span>
</div>

<div class="md:w-[90%] shadow-2xl rounded-xl border mx-auto relative">
  <% unless @no_header %>
    <div class="w-full p-4 grid grid-cols-1 gap-2 md:grid-cols-5">
      <div class="col-span-1 flex gap-4 items-center md:justify-start justify-center">
        <% if @action_button.present? %>
          <%= link_to @action_button[:text], @action_button[:path], class: "w-fit rounded-full bg-emerald-400 flex flex-row gap-1 items-center text-white py-1 px-3" %>
        <% end %>
        
      </div>
      <div class="text-center col-span-3">
        <h1 class="font-bold text-slate-800 text-3xl tracking-tight capitalize">
          <%= @heading_text %>
        </h1>
        <p class="text-slate-600 text-base"><%= @paragraph %></p>
      </div>
      <div class="col-span-1 md:flex justify-end items-center hidden">
        <div class="relative z-50">
          <div
            class="duration-300 w-7 h-7 hover:text-white rounded-full flex items-center justify-center"
            onClick={toggleOptions}
          >
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <div class="w-full p-5 overflow-auto"><%= content %></div>
</div>