<%= link_to project_todo_list_path(@todo_list) do %>
  <div class="rounded-lg border bg-card text-card-foreground shadow-sm hover:shadow-lg transition-shadow">
    <div class="flex flex-col space-y-1.5 p-6 pb-4">
      <h3 class="text-2xl font-semibold leading-none tracking-tight"><%= @todo_list.title %></h3>
      <p class="text-sm text-slate-600"><%= @todo_list.description.truncate(160) %></p>
    </div>

    <div class="p-6 pt-0 flex flex-col gap-1">
      <div class="text-slate-600 flex justify-between items-center w-full text-sm">
        <span><%= @todo_list.fraction_complete_tasks %> tasks completed</span>
        <span>
          <span class="inline-flex items-center rounded-full border px-2.5 py-0.5 text-xs font-semibold transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 text-black">
            <%= @todo_list.task_groups.count %> groups
          </span>
          <span class="inline-flex items-center rounded-full border px-2.5 py-0.5 text-xs font-semibold transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 text-black">
            <%= @todo_list.tasks.count %> tasks
          </span>
        </span>
      </div>
      <div class="w-full rounded-full h-3.5 bg-slate-200">
        <div class="bg-emerald-400 h-3.5 rounded-full" style="width: <%= @todo_list.percentage_complete_tasks %>%"></div>
      </div>
    </div>
  </div>
<% end %>